<div class="header pb-4 pt-5 pt-lg-4 d-flex align-items-center"
  style="min-height: 300px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 ">
      <div class="card card-profile shadow">
        <div class="card-header bg-white border-0">
          <h3 class="mb-0">Lista de Contadores</h3>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Consultor</th>
                  <th scope="col">Celular</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of contadores ">
                  <th scope="row" (click)="selecionar(item.controle_usuario_contadore.id)">
                    {{item.controle_usuario_contadore.nome}}
                  </th>
                  <th scope="row">
                    {{item.controle_usuario.nome}}
                  </th>
                  <td>
                    {{item.controle_usuario_contadore.celular}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-6 ">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Novo/Alterar</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formUser">
            <h6 class="heading-small text-muted mb-4">Informações</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="Nome" formControlName="nome">
                    <app-control-messages [control]="formUser.controls.nome"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder=""
                      formControlName="email">
                    <app-control-messages [control]="formUser.controls.email"></app-control-messages>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="formUser.controls.id.value ==''">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Senha</label>
                    <input type="password" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="Senha" formControlName="senha">
                    <app-control-messages [control]="formUser.controls.senha"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Conforme a Senha</label>
                    <input type="password" id="input-email" class="form-control form-control-alternative" placeholder=""
                      formControlName="confirme_senha">
                    <app-control-messages [control]="formUser.controls.confirme_senha"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Contato</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Celular</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative"
                      placeholder="Celular" formControlName="celular" mask="(00) 00000-0000">
                    <app-control-messages [control]="formUser.controls.celular"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Celular para Suporte</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Suporte" formControlName="celular_suporte" mask="(00) 00000-0000">
                    <app-control-messages [control]="formUser.controls.celular_suporte"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Email para suporte</label>
                    <input type="email" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="Email suporte" formControlName="email_suporte">
                    <app-control-messages [control]="formUser.controls.email_suporte"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Endereço</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Rua</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Rua"
                      type="text" formControlName="rua">
                    <app-control-messages [control]="formUser.controls.rua"></app-control-messages>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Cidade</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative"
                      placeholder="Cidade" formControlName="cidade">
                    <app-control-messages [control]="formUser.controls.cidade"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Estado</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Estado" formControlName="estado">
                    <app-control-messages [control]="formUser.controls.estado"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">CEP</label>
                    <input type="text" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="CEP" formControlName="cep" mask="00.000-000">
                    <app-control-messages [control]="formUser.controls.cep"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Sobre</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">CNPJ</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="CNPJ"
                      formControlName="cnpj" mask="00.000.000/0000-00">
                    <app-control-messages [control]="formUser.controls.cnpj"></app-control-messages>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Nome Fantasia</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Nome Fantasia" formControlName="nome_fantasia">
                    <app-control-messages [control]="formUser.controls.nome_fantasia"></app-control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Descrição</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="..."
                  formControlName="descricao"></textarea>
                <app-control-messages [control]="formUser.controls.descricao"></app-control-messages>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" (click)="salvar()">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
